name: Multi Step Workflow

on:
  push:

jobs:
  demo_steps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Message
        run: echo "Hello GitHub Actions"

      - name: Date
        run: date

      - name: Branche
        run: |
          echo "Branche : ${{ github.ref }}"
